* {
  font-family: 'Josefin Sans', sans-serif;
}

/* ABOUT PAGE */
.navbar-nav {
  position: absolute;
  right: 0;
  margin: 0 15px;
}

.navbar-brand {
  margin-left: 150px;
}

 body {
  background-image: url(images/mtn.jpg);
  background-size: stretch;
  background-repeat: no-repeat;
  height: 100vh;  
}  

.header {
  margin-left: 15px;
  border-bottom: solid 1px black;
}


.face {
  width: 300px;
  border-radius: 40px;
  padding-right: 20px;
}

p {
  line-height: 45px;
}

#about-me {
  margin-top: 115px;
}

main a {
    font-size: 50px;
    padding: 6px;
}

/* Main Content */
#main-content {
  background-color: white;
  border-radius: 15px;
  opacity: 0.8;
  padding-bottom: 20px;
  border: solid 2px #3C5DA2;
  padding-top: 20px;
}

.about-me-container {
  margin-bottom: 50px;
}


/* CONTACT PAGE */
#column{
    margin-top: 150px;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    opacity: .8;
    margin-left: 45px;
    border: solid 2px #3C5DA2;
}

.header-contact{
    border-bottom: solid 1px black;
}

.footer {
    width: 100%;
    background-color: white;
    position: fixed;
    bottom: 0;
    text-align: center;
  }
  
  h6{
      font-size: 10px;
  }

  /* PORTFOLIO PAGE */

  .project-header{
      border-bottom: solid 1px black;
  }

  #main-column{
      background-color: white;
      margin-top: 50px;
      opacity: .8;
      padding-bottom: 20px;
      padding-top: 20px;
      border-radius: 15px;
      border: solid 2px #3C5DA2;

  }

  .sample-image{
      margin: 10px 0px;
    
  }

  .img-thumbnail{
      border: solid 1px black;
     
  }





/* Media Queries */

@media only screen and (max-width: 576px) {
  .col-md-8 {
    margin-top: -40px;
  }

  .navbar-brand {
    margin: auto 0;
  }

  h1 {
    text-align: center;
  }

  #column{
      margin-left: 0px;
      margin-right: 0px;
      
  } 
  
}
