* {
  font-family: "Lexend Peta", sans-serif;
}

/* pushes navbar items to right */
.navbar-nav {
  position: absolute;
  right: 0;
  margin: 0 15px;
}

.navbar-brand {
  margin-left: 75px;
}

body {
  background-image: url(images/mtn.jpg);
  background-size: stretch;
  background-repeat: no-repeat;
  height: 100vh;
}

h1 {
  margin-left: 15px;
  border-bottom: solid 3px black;
}

/* Main Image */
.face {
  width: 300px;
  border-radius: 40px;
  padding-right: 20px;
}

p {
  line-height: 45px;
}

#about-me {
  margin-top: 40px;
}

/* Main Content */
.col-md-8 {
  background-color: floralwhite;
  border-radius: 15px;
  opacity: 0.8;
  padding-bottom: 20px;
}

.about-me-container {
  margin-bottom: 50px;
}

/* .footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    padding-top: 5px;
} */

#sticky-footer {
  flex-shrink: none;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.content-container{
    margin-top: 150px;
    background-color: floralwhite;
    padding: 15px;
    border-radius: 15px;
    opacity: .8;
}

/* Media Queries */

@media screen (max-width: 576px) {
  .col-md-8 {
    margin-top: -50px;
  }

  .navbar-brand {
    margin: auto 0;
  }

  h1 {
    text-align: center;
  }
}
